<footer class="text-lg-start">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <br><br><br>
          <h1>Proyecto PokeAPP</h1>
        </div>
        <div class="col-md-2">
          <h3>Elaborado Por</h3>
          <p class="equipo">Campos Mendoza Juan José</p>
          <p class="equipo">Rico Silva Anderson Javier</p>
          <p class="equipo">Rojas Barrera Rubén Dario</p>
          <p class="equipo">Pulido Achagua Jhon Alexander</p>
          <p class="equipo">Sabino Lopez Diama</p>
        </div>
        <div class="col-md-3">
          <h3>Institución Universitaria Politecnico Grancolombiano</h3>
          <br>
          <h3>Facultad de Ingeniería, Diseño e Innovación</h3>
        </div>
        <div class="col-md-3">
          <h3>Asignatura</h3>
          <p>Front - End</p>
          <h3>Tutor</h3>
          <p>Carlos Iván Parra</p>
          <h2>Febrero de 2021</h2>
        </div>
      </div>
    </div>
  </footer>

